node_modules/
Backend/node_modules
Frontend/node_modules
.env
.env.local
serviceAccountKey.json.json
Backend/src/serviceAccountKey.json.json
dist/
build/
.next/

.agents/
*.log
Frontend/next-env.d.ts
.vscode/