@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scroll */
html {
  scroll-behavior: smooth;
}

/* thanh scroll css */
::-webkit-scrollbar {
  width: 4px; /* Chiều rộng thanh cuộn dọc */
  height: 10px; /* Chiều cao thanh cuộn ngang */
}

/* Track (phần nền của thanh cuộn) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Thumb (cục trượt) */
::-webkit-scrollbar-thumb {
  background: #e34646;
}

/* Hover khi rê chuột */
::-webkit-scrollbar-thumb:hover {
  background: #ff4f4f;
}

.active {
  @apply border-b-[2.5px] border-[#b3b3b3] font-bold text-black/80;
}

.cst_input {
  @apply w-full text-black/85 font-semibold py-3 pl-2  outline-none;
}

.categories_card_default {
  @apply w-[170px] h-[145px] border-2 border-[#b3b3b3] text-center text-black/80 rounded-lg   transition cursor-pointer;
}
.categories_card_active {
  @apply w-[170px] h-[145px] border-2  border-secondary text-center bg-secondary text-white rounded-lg transition cursor-pointer;
}

.cst_btn {
  @apply px-4 py-2 font-semibold bg-gray-100 border-2 border-gray-100 text-gray-700 rounded-xl  shadow hover:scale-105 active:scale-95    transition-transform duration-300;
}
.cst_btn-icon {
  @apply px-4 py-2 flex items-center justify-center gap-2 font-semibold bg-gray-100 border-2 border-gray-100 text-gray-700 rounded-xl  shadow hover:scale-105  active:scale-95   transition-transform duration-300;
}
.cst_btn-primary {
  @apply px-4 py-2 font-semibold bg-primary border-[1px] border-primary text-white rounded-xl  shadow hover:scale-105 active:scale-95   transition-transform duration-300;
}
.cst_btn-primary-icon {
  @apply flex items-center justify-center gap-2 px-4 py-2 font-semibold bg-primary border-[1px] border-primary text-white rounded-xl  shadow hover:scale-105 active:scale-95   transition-transform duration-300;
}

.cst_btn-secondary {
  @apply px-4 py-2 font-semibold bg-white text-primary border-[1px] border-primary rounded-xl  shadow-lg 
           hover:bg-primary hover:text-white 
           active:scale-95 
           transition-colors duration-300 ease-in-out;
}
.cst_btn-secondary-icon {
  @apply flex items-center justify-center gap-2  bg-white px-4 py-2 font-semibold text-primary border-[1px] border-primary rounded-xl  shadow-lg 
           hover:bg-primary hover:text-white 
           active:scale-95 
           transition-colors duration-300 ease-in-out;
}
